@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@utility container {
  margin: auto;
  padding:  2rem;
}

@theme{
  /* --color-brand:#3BB77E; */
  --color-primary:#151515;
  --color-secondary: #707070;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}
.common_paragraph{
  @apply font-normal text-base  text-secondary;
}
.common_button{
  @apply font-normal text-base border border-secondary  text-secondary py-2 px-4 rounded-lg;
}


